
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color:#000;
}

section video{
    width: 100vw;
}

h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size:5em;
    font-family:sans-serif;
    letter-spacing: 0.2em;

}

h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }

    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

h1 span:nth-child(1){
    animation-delay: 1s;
    color: aqua;
}
h1 span:nth-child(2){
animation-delay: 2s;
color: aqua;
}
h1 span:nth-child(3){
    animation-delay: 2.5s;
    color: aqua;
}
h1 span:nth-child(4){
    animation-delay: 3s;
    color: aqua;
}
h1 span:nth-child(5){
    animation-delay: 3.5s;
    color: aqua;
}
h1 span:nth-child(6){
    animation-delay: 3.75s;
    color: aqua;
}
h1 span:nth-child(7){
    animation-delay: 4s;
    color: aqua;
}
h1 span:nth-child(8){
    animation-delay: 4.5s;
    color: aqua;
}
h1 span:nth-child(9){
    animation-delay: 4.75s;
    color: aqua;
}
h1 span:nth-child(10){
    animation-delay: 5s;
    color: aqua;
}
h1 span:nth-child(11){
    animation-delay: 5.5s;
    color: aqua;
}