*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #16a7c5;
}

button{
    color: #472da3;
    border: dotted;
    margin-right: 1rem;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%{
        color: #fff;
        filter: hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff, 
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff;
    }
    30%,70%{
        color: #fff;
        filter: hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff, 
        0 0 20px #1c9bd2,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff;
    }

    100%{
        color: transparent;
        box-shadow: none;
        filter: hue-rotate(0deg);
    }
}

.button-img{
    width: 55px;
    height: 55px;
    pointer-events: none;
    animation: animate 3s linear infinite;
}

.button-body,button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.button-link,button{
    list-style: none;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16a7c5;
    border-radius:50%;
    box-shadow: 
    5px 5px 10px #1692ad,
    -5px -5px 10px #1bbee0,
    inset 0px 0px 0px #1692ad,
    inset 0px 0px 0px #1bbee0;
    transition: box-shadow 0.4s linear;
    
}

.button-link:active{
    box-shadow: 
    0px 0px 0px #1692ad,
    0px 0px 0px #1bbee0,
    inset 5px 5px 10px #1692ad,
    inset -5px -5px 10px #1bbee0;
}